
.year-container{
    display: inline-block;
}

.char{
width:30px;
display: inline;
}

.stat{
    background: indianred;
    font-size: 30px;
    text-align: center;
    color: aliceblue; 
}
.question{
    margin: auto;
}
.heading{
    color: indianred;
    text-align: center;
}